<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>20753629784-jtfivjraav3hfk1lkc3iohdavke90q8b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.20753629784-jtfivjraav3hfk1lkc3iohdavke90q8b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>20753629784-13mi8kfl9ost16m0rhfv1ml5otca0omd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2nrbtNFaCdUzPbBUtXi0uO5AeEdIie0w</string>
	<key>GCM_SENDER_ID</key>
	<string>20753629784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.netwealthVjti</string>
	<key>PROJECT_ID</key>
	<string>tictactoe-multiplayer-23</string>
	<key>STORAGE_BUCKET</key>
	<string>tictactoe-multiplayer-23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20753629784:ios:1352a0697f24eed0e2c02d</string>
</dict>
</plist>